
/* ------------------------------------------------------------------------------ */
.group_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fdb933;
  padding: 150px 0;  
}


.group_outer {
	border-radius: 15px;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  	width: 700px;
  	max-width: 100%;
  	background-color: #fff;
}
.group_head {
    background-color: #f7f7f7;
	 border-bottom: 1px solid #f7f7f7;
	 padding: 20px 40px;
	 border-radius: 15px 15px 0 0;
}

.create_form{
	padding: 10px 40px 30px 40px;
}
.group_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#group_img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px rgba(152, 152, 152, 0.5);
}
#group_img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.group_pic{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.fileUpload{
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align:center;
	width:100px;
	height:30px;
	margin-top:10px;
	border: 3px solid #f0f0f0;
	cursor: pointer;
	border-radius: 5px;
}

.fileUpload:hover{
	border:3px solid var(--color-main);;
	background-color: var(--color-main);
	color: #fff;
}

.group_pic > input {
    display: none;
}


.group_info {
    width: 100%;
    background-color: transparent;
}
.groupcheck {
    margin-bottom: 10px;
  	padding-bottom: 20px;
  	position: relative;
}

.groupcheck i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.groupcheck small{
  visibility: hidden;
}

.groupcheck input,
.groupcheck select{
	background-color: transparent;
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.groupcheck.success input,
.groupcheck.success select,
.groupcheck.success #group_textarea
 {
  border-color: #2ecc71;
}


.groupcheck.error input,
.groupcheck.error select,
.groupcheck.error #group_textarea
{
  border-color: #e74c3c;
}

.groupcheck.success #green {
  color: #2ecc71;
  visibility: visible;
}


.groupcheck.error #red {
  color: #e74c3c;
  visibility: visible;
}

.groupcheck.error small{
  color: #e74c3c;
  visibility: visible;
}





.group_place_usercnt {
	display: flex;
	justify-content: space-between;
}

.group_place_usercnt .groupcheck{
	width: 40%;
}
.group_content {
    position: relative;
}

.textlength {
	font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--color-main);
}


#group_textarea {
    resize: none;
    width: 100%;
    overflow-y: hidden;
    font-size: 17px;
    padding: 20px;
    color: black;
    background-color: transparent;
	border: 2px solid #f0f0f0;
	border-radius: 5px;
}

.group_check input{
	margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: #fdb933;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.group_check input:hover {
    background-color: #ffcb62;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}






