
.content-wrap {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-profile-pic {
    width: 100%;
    height: 40vh;
}

.group-profile-pic img {
    width: 100%;
    height: 100%;
}
.user_controller{
	display: flex;
}
.like{
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}

.like:hover{
	color:red;
}


.showMember{
	cursor: pointer;
	margin-right: 10px;
}
.showMember:hover{
	color: var(--color-3green);;
}

.group-info-wrap {
    width: 75vw;
}

.joinGroup{
	cursor: pointer;
}

.joinGroup:hover{
	color: var(--color-main);
}
.group-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-info-detail {
    box-sizing: border-box;
    margin: 30px 0 10px 20px;
    width: 100%;
}
.group-info-detail h2 {
    margin-bottom: 20px;
}

.group-info-detail textarea {
    resize: none;
    width: 100%;
    border: none;
    overflow: hidden;
    outline: none;
    font-size: 17px;
}


.group-name {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    padding: 10px;
}

.group-name h1 {
    color: var(--color-3green);
}

.group-leader {
    display: flex;
    align-items: flex-end;
}

.group-leader i{
    margin: 0 5px 3px 0;
    color: var(--color-2green);
}
.group-leader h3{
	color: var(--color-2green);
}
.group-content {
    display: flex;
    box-sizing: border-box;
}
.group-menu {
    border-right: 1px solid #999;
    width: 20%;
}
.group-menu ul > li {
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
    margin: 15px 0 0 15px;
}

.group-menu ul > li > label {
    font-size: 17px;
    font-weight: 600;
}
#off-group,
#board-group {
    display: none;
}

.group-menu-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.off-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--color-3green);
    width: 95%;
    height: 150px;
    margin: 10px 10px;
}
.off-group a{
	display: flex;
}
.off-group div {
    padding: 5px;
}
.off-title {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.off-leader,
.off-date,
.off-max-member {
    display: flex;
    align-items: center;
}

#off-leader-icon,
#off-date-icon,
#off-maxMember-icon {
    font-size: 20px;
    margin-right: 5px;
}

.off-group a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    padding: 5px;
    color: var(--color-1green);
    border: 2px solid var(--color-1green);
    border-radius: 5px;
    transition: all 200ms ease;
    background-color: transparent;
}

.off-group a:hover {
    background-color: var(--color-1green);
    color: #fff;
    font-weight: 600;
}

.group-info > a {
    margin: 15px 0;
    background-color: var(--color-1green);
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    height: 60px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#add-icon {
    color: #fff;
}

.menu-title {
    width: 95%;
    border-bottom: 1px solid #999;
    padding: 10px;
}

.menu-title h3 {
    color: var(--color-2green);
}

.off-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-main);
    transition: all 0.5s ease-out;
}

.off-btn:hover::after {
    width: 50%;
}

.board-group-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-main);
    transition: all 0.5s ease-out;
}

.board-group-btn:hover::after {
    width: 50%;
}

.gmember_wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    width:400px;
    background-color: rgb(0, 128, 128, 0.5);
    padding: 10px;
   	box-shadow: 1px 1px 1px 2px rgba(152, 152, 152, 0.5);
    border-radius: 5px;
}
.gmember_info
 {
 	width: 100%;
    display: flex;
    justify-content:center;
    font-size: 15px;
    margin: 5px;
    color: #fff;
    padding: 5px;
}

.gleader_info{
	color: rgb(0, 128, 128);
	display:flex;
	justify-content:center;
	align-items: center;
	width:100%;
	font-size: 17px;
	padding: 10px 10px;	
	border-bottom: 1px solid var(--color-2green);
}
.gleader_info i {
	color: rgb(0, 128, 128);
}

.gmember_info *,
.gleader_info *{
	margin-right: 5px;
}

#first_member{
	font-size: 15px;
	padding: 10px 10px;
	text-align: center;
}

.member_controller {
    display: flex;
    justify-content: center;
    border-left : 1px solid black;
}


.expulsion,
.absence,
.participation{
	padding: 0 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.expulsion:hover,
.absence:hover {
    color: rgba(255, 82, 82, 0.864);
}

.participation:hover {
    color: #46a15e;
}

.memberlist_close {
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: -50px;
    right: 50%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.memberlist_close {
    background-color: rgba(0, 0, 0, 0.183);
    padding: 5px;
    height: 35px;
    border-radius: 50%;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    display: none;
}



